<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style1.css">
</head>
<body>
    <div class="embox-pd-100">
        <div class="login_bg"></div>
        <div class="signUp">
            <p>E:Monitor</p>
            <h2>Sign-up</h2>
            
            <form class="signUp_box">
                <div class="signUp_id">
                    <h4>아이디</h4>
                    <input type="text" name="" id="" placeholder="ID">
                </div>
                <div class="signUp_pw">
                    <h4>비밀번호 입력</h4>
                    <input type="text" name="" id="" placeholder="Password">
                </div>
                <div class="signUp_pwCon">
                    <h4>비밀번호 확인</h4>
                    <input type="text" name="" id="" placeholder="Password Confirmation">
                </div>
                <div class="signUp_email">
                    <h4>이메일</h4>
                    <input type="text" name="userId" id="" placeholder="Email Address">
                </div>
                <div class="signUp_name">
                    <h4>이름</h4>
                    <input type="text" name="userName" id="" placeholder="Your Name">
                </div>
                <div class="signUp_birth">
                    <h4>생년월일 (8자리 입력)</h4>
                    <input type="text" name="" id="birth_box" placeholder="Date of Birth">
                    <label><input type="radio" name="sex" id="birth_sex" value="sex_m">남성</label>
                    <label><input type="radio" name="sex" id="birth_sex" value="sex_f">여성</label>
                </div>
                <div class="signUp_phone">
                    <h4>휴대폰</h4>
                    <input type="text" name="userName" id="" placeholder="Phone Number">
                </div>
                <div class="signUp_modelkey">
                    <h4>모델 일련번호</h4>
                    <input type="text" name="" id="" placeholder="Model Key Number">
                </div>
                <div class="singUp_submit">
                    <input type="submit" value="회원가입">
                </div>
            </div>

        </div>
    </div>
</body>
</html>