* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  
  #wrap {
    width: 100%;
    /* margin-top = header height */
    margin-top: 60px;
  }

  #content-wrap:after {
    content: "";
    display: block;
    clear: both;
  }

 

  header {
    /* for sticky header */
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    z-index: 2000;
    padding: 30px 4%;
    background: linear-gradient(to right, #283048, #859398);
    
    
  }


  
  .logo {
    cursor: pointer;
  }
  
    
  .nav__links {
    list-style: none;
    display: flex;
  }
  
 
  
  .nav__links li a {
    transition: color 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #0088a9;
  }
  
  .cta {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
  }
  
  .cta:hover {
    background-color: rgba(0, 136, 169, 0.8);
  }
  
  aside{
    /* for fixed side bar */
    position: fixed;
    top: 60px;
    bottom: 0;    
    width: 20%;
    padding-top: 25px;
    background: linear-gradient(to right, #2b5876, #4e4376);
    
  }

  ad{
    /* for fixed side bar */
    float: right;
    height: 909px;
    top: 60px;
    bottom: 0;    
    width: 20%;
    padding-top: 25px;
    background: linear-gradient(to right, #2b5876, #4e4376);
    
  }






  
    
  aside > h1 {
    font-size: 20px;
    padding: 30px 0 5px 40px;
    color: #fff;
  }

  aside > h2 {
    font-size: 15px;
    padding: 4px 0 20px 40px;
    color: #fff;
  }
  aside > p {
    font-size: 12px;
    padding: 4px 0 50px 40px;
    color: #fff;
  }


  #icon-wrap{
    height: 900px;
    width: 100%;
    background-color: #fff;
    
    }
    
    
 .fas{    
    padding: 30px 30px 30px 30px;
 }
 .menu{
     width:50%;
     display: inline;
     
 }

 section {
    float: left;
    /* aside width */
    margin-left: 20%;
    height: 909px;
    width: 60%;
    background: linear-gradient(to right, #A0B8C5 146px, #EEF2F3 546px);
  }
  article {
    margin: 30px;
    
    background-color: white;
  }
  fieldset{
    width: 250px;
    margin: 30px 0 20px 30px;
    padding: 25px;
    display: inline;

  }

  .select {
      float: right;
    width: 150px;
    height: 35px;
    margin: 10px;   
    background-size: 20px;
    padding: 5px 30px 5px 10px;
    border-radius: 4px;
    outline: 0 none;
  }
  .select option {
    background: black;
    color: #fff;
    padding: 3px 0;
  }

  .bin{
      height: 909px;
      background: linear-gradient(to left, #2b5876, #4e4376);
  }

  .setting > h1{
      font-size: 45px;
      padding: 30px 0 5px 40px;
      color: #444;      
  }

  .mi {
    width: 150px;
    padding: 12px 20px;
    margin: 30px 0px 30px 30px;
    box-sizing: border-box;
    border-radius: 30px;
  }
  .mb{
    width: 300px;
    padding: 12px 20px;
    margin: 30px 0px 30px 10px;
    box-sizing: border-box;
    border-radius: 30px;
  }
  .mp{
    width: 200px;
    padding: 12px 20px;
    margin: 30px 0px 30px 10px;
    box-sizing: border-box;
    border-radius: 30px;
  }

  .qaForm {
    position:absolute;
    width:500px;
    height:600px;
    padding: 40px, 30px;
    background-color:#FFFFFF;
    text-align:center;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
  }
  
  .qaForm h2{
    text-align: center;
    margin: 45px;
  }
  
  .poForm{
    border-bottom: 2px solid #adadad;
    margin: 30px;
    padding: 10px 10px;
  }
  
  .titleForm{
    border-bottom: 2px solid #adadad;
    margin: 30px;
    padding: 10px 10px;
  }
  .dcont{
    margin: 10px;
    outline:none;
    color: #636e72;
    font-size:16px;    
    background: none;
  }

  .contentForm{
    text-align: left;
    border-bottom: 2px solid #adadad;
    margin: 30px;
    padding: 10px 10px;
  }
  textarea{
    width: 100%;
    
    
    color: #636e72;
    font-size:16px;
    
   
  }
  
  .po {
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
  }
  
  .title {
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
  }
  
  .btn {
    position:relative;
    left:40%;
    transform: translateX(-50%);
    margin-bottom: 40px;
    width:80%;
    height:40px;
    background: linear-gradient(125deg,#81ecec,#6c5ce7,#81ecec);
    background-position: left;
    background-size: 200%;
    color:white;
    font-weight: bold;
    border:none;
    cursor:pointer;
    transition: 0.4s;
    display:inline;
  }
  
  .btn:hover {
    background-position: right;
  }
  
  
  
