<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.smhrd.mapper.BoardMapper">
    <!--  메서드의 이름 -->      <!-- resultType = VO 쪽   -->
  <select id="boardList" resultType="kr.smhrd.domain.Board">
    select * from python_board order by idx desc
  </select>
  <insert id="boardInsert" parameterType="kr.smhrd.domain.Board">
    insert into python_board (userId,title,contents,writer)
    values(#{userId},#{title},#{contents},#{writer})
  </insert>
  <select id="boardContent" resultType="kr.smhrd.domain.Board" parameterType="int">
    select * from python_board where idx=#{idx}
  </select>
  <insert id="join" parameterType="kr.smhrd.domain.Board">
    insert into member (user_id,user_pwd,user_email,user_name,user_birth,user_sex,user_phone,company_bno)
    values(#{user_id},#{user_pwd},#{user_email},#{user_name},#{user_birth},#{user_sex},#{user_phone},#{company_bno})
  </insert>
  <insert id="settingInsert" parameterType="java.util.List">
    insert into cctv (cctv_serial,cctv_location,cctv_total_user,user_id,company_bno)
    values
     <foreach item="item" index="index" collection="list" separator=","> 
    (#{item.cctv_serial},#{item.cctv_location},#{item.cctv_total_user},#{item.user_id},#{item.company_bno})
    </foreach> 
 </insert> 
 
 <insert id="peopleMessage" parameterType="kr.smhrd.domain.Message">
     insert into message (msg_content, msg_location,cctv_no,user_id,msg_type,msg_read)
     values
     (#{msg_content},#{msg_location},#{cctv_no},#{user_id},#{msg_type},#{msg_read})
     
     
 </insert>
  
  
<update id="updateJetson" parameterType="map" >
    update cctv set cctv_cur_user =#{cctv_cur_user} where cctv_serial=#{cctv_serial}
</update>

  
  
  <!-- 
  <update id="boardUpdate" parameterType="kr.smhrd.domain.Board">
      update Board set title=#{title},contents=#{contents} where idx=#{idx}
  </update>
   -->
  
  
  
</mapper>